*, *::before, *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

input, button, textarea, select {
   font-family: inherit;
   font-size: inherit
}

img {
   display: block;
   max-width: 100%
}

body {
   line-height: 1.5;
   font-family: "Figtree", system-ui, sans-serif;
}
header {
   display: grid;
   place-items: center;
}
main {
   width: min(calc(100% - 2rem), 50rem);
   margin-inline: auto;
}
.chart {
   margin-top: 2rem;

   > figcaption {
      text-align: center;
      text-transform: uppercase;
   }
}